<!-- app/views/clients/tickets/new.html.erb -->

<h1>Nova Solicitação</h1>

<%= form_for([:clients, @ticket]) do |f| %>
  <% if @ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ticket.errors.count, "erro") %> impediram a criação desta solicitação:</h2>
      <ul>
        <% @ticket.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title, "Título" %><br />
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :description, "Descrição" %><br />
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :service_id, "Tipo de Serviço" %><br />
    <%= f.collection_select :service_id, Service.all, :id, :name, { prompt: "Selecione um serviço" }, id: "ticket_service_id" %>
  </div>

  <div class="field">
    <%= f.label :provider_id, "Prestador" %><br />
    <%= f.collection_select :provider_id, [], :id, :email, { prompt: "Selecione um prestador" }, id: "ticket_provider_id" %>
  </div>

  <div class="field">
    <%= f.label :deadline, "Prazo" %><br />
    <%= f.date_field :deadline %>
  </div>

  <div class="actions">
    <%= f.submit "Criar Solicitação" %>
  </div>
<% end %>