<%= form_with(model: [:admin, plan], local: true) do |form| %>
    <div>
      <%= form.label :description %>
      <%= form.text_field :description, class: 'form-control' %>
    </div>
  
    <div>
      <%= form.label :price %>
      <%= form.number_field :price, step: 0.01, class: 'form-control' %>
    </div>
  
    <div>
      <%= form.label :duration_in_months %>
      <%= form.number_field :duration_in_months, class: 'form-control' %>
    </div>
  
    <div>
      <%= form.label :payment_date %>
      <%= form.date_field :payment_date, class: 'form-control' %>
    </div>
  
    <div>
      <%= form.label :start_date %>
      <%= form.date_field :start_date, class: 'form-control' %>
    </div>
  
    <div>
      <%= form.label :end_date %>
      <%= form.date_field :end_date, class: 'form-control' %>
    </div>
  
    <div>
      <%= form.label :status %>
      <%= form.check_box :status %>
    </div>
  
    <div class="mt-3">
      <%= form.submit class: 'btn btn-primary' %>
    </div>

    <%= link_to 'Voltar ao Painel Admin', admin_root_path, class: 'btn btn-secondary' %>
  <% end %>