<%= form_with(model: [:admin, plan], local: true) do |form| %>
  <div class="mb-3">
    <%= form.label :description, 'Descrição', class: 'form-label' %>
    <%= form.text_field :description, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :price, 'Preço (R$)', class: 'form-label' %>
    <%= form.number_field :price, step: 0.01, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :duration_in_months, 'Duração (meses)', class: 'form-label' %>
    <%= form.number_field :duration_in_months, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :payment_date, 'Data de Pagamento', class: 'form-label' %>
    <%= form.date_field :payment_date, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :start_date, 'Data de Início', class: 'form-label' %>
    <%= form.date_field :start_date, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :end_date, 'Data de Término', class: 'form-label' %>
    <%= form.date_field :end_date, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :status, 'Status (Ativo/Inativo)', class: 'form-label' %>
    <%= form.check_box :status, class: 'form-check-input' %>
  </div>

  <div class="mb-3">
    <%= form.submit 'Salvar', class: 'btn btn-primary' %>
  </div>

  <%= link_to 'Voltar', admin_root_path, class: 'btn btn-secondary' %>
<% end %>